<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div class="flex flex-col items-center min-h-3/4 mb-16">
  <ul class="flex flex-col items-left w-5/6">
    <!-- 
      The ngClass 'hidden' is dictated by whether or not those properties (i.e, isImportantFilter, isCompletedFilter, etc) is true or false
      These are set programatically to show/hide those filters to reflect in the UI when toggled by a user
      The logic for this can be found in 'left-sidenav-options.component.ts', which is also implemented via 2-way binding inside 'main-task-form.component.html'
    -->
    <li
      class="
        w-full
        rounded
        bg-black bg-opacity-80
        text-gray-300
        min-h-8
        break-all
        mb-2
        flex
        justify-between
      "
      [ngClass]="{
        hidden:
          (isImportantFilter === true && task.important === false) ||
          (isCompletedFilter === true && task.completed === false) ||
          (isSuggestions === true && showOrHideSuggestedTasks(task.createdAt))
      }"
      *ngFor="let task of mainTasksToDisplay"
    >
      <div class="flex items-center py-1">
        <mat-icon
          class="text-white mr-2 ml-1 cursor-pointer hover:text-blue-500"
          (click)="completeTask(task.id, task.completed)"
          >{{
            task.completed ? "check_circle" : "check_circle_outline"
          }}</mat-icon
        >
        <!-- Show only tasks marked as completed -->
        <div *ngIf="task.completed === true; else notCompleted">
          <span>
            <s>{{ task.todo }}</s>
          </span>
          <span class="text-red-500 text-xs flex">{{
            formatTaskDueDate(task.dueBy)
          }}</span>
        </div>
        <ng-template #notCompleted>
          <div>
            <span>{{ task.todo }}</span>
            <span class="text-red-500 text-xs flex">{{
              formatTaskDueDate(task.dueBy)
            }}</span>
          </div>
        </ng-template>
      </div>
      <div class="flex">
        <button
          class="flex items-center"
          (click)="makeTaskImportant(task.id, task.important)"
          type="button"
        >
          <mat-icon
            class="text-white mr-2 ml-1 cursor-pointer hover:text-blue-500"
            >{{ task.important ? "star" : "star_border" }}</mat-icon
          >
        </button>
        <button
          [matMenuTriggerFor]="menu"
          class="flex items-center"
          type="button"
        >
          <mat-icon
            class="text-white mr-2 ml-1 cursor-pointer hover:text-blue-500"
            >more_vert</mat-icon
          >
        </button>
        <mat-menu #menu="matMenu" class="text-gray-300 bg-gray-800">
          <div class="text-sm flex flex-col px-2">
            <button
              class="
                hover:bg-gray-700
                border-l-2 border-transparent
                hover:border-gray-500
                flex
                items-center
              "
              type="button"
              (click)="makeTaskImportant(task.id, task.important)"
            >
              <mat-icon class="text-gray-300 text-sm">star_border</mat-icon
              ><span>{{
                task.important ? "Mark as not important" : "Mark as important"
              }}</span>
            </button>
            <button
              class="
                hover:bg-gray-700
                border-l-2 border-transparent
                hover:border-gray-500
                text-left
                flex
                items-center
              "
              (click)="completeTask(task.id, task.completed)"
              type="button"
            >
              <mat-icon class="text-gray-300 text-sm">{{
                task.completed ? "check_circle" : "check_circle_outline"
              }}</mat-icon>
              <span>{{
                task.completed ? "Mark as not completed" : "Mark as completed"
              }}</span>
            </button>
            <div class="h-2 w-full border-b-2 border-gray-500 mx-auto"></div>
            <button
              class="
                hover:bg-gray-700
                border-l-2 border-transparent
                hover:border-gray-500
                text-left
                flex
                items-center
              "
              (click)="
                formatTaskDueDate(task.dueBy)
                  ? removeTaskDueDate(task.id)
                  : setTaskDueDateToToday(task.id)
              "
              type="button"
            >
              <mat-icon class="text-gray-300 text-sm">today</mat-icon>
              <!-- If the format function returns a value then this will show "Remove Due Date" else it'll show 'Due today' since nothing was returned-->
              <span>{{
                formatTaskDueDate(task.dueBy) ? "Remove Due Date" : "Due today"
              }}</span>
            </button>
            <button
              class="
                hover:bg-gray-700
                border-l-2 border-transparent
                hover:border-gray-500
                text-left
                flex
                items-center
              "
              (click)="
                setFormatTaskDueDateBoolean(task.dueBy)
                  ? setTaskDueDateToTomorrow(task.id)
                  : setTaskDueDateToToday(task.id)
              "
              type="button"
            >
              <mat-icon class="text-gray-300 text-sm">event</mat-icon>
              <span>{{
                setFormatTaskDueDateBoolean(task.dueBy)
                  ? "Due tomorrow"
                  : "Due today"
              }}</span>
            </button>
            <form [formGroup]="datePickerForm">
              <mat-form-field
                appearance="fill"
                class="
                  hover:bg-gray-700
                  border-l-2 border-transparent
                  hover:border-gray-500
                  text-left
                  flex
                  items-center
                "
              >
                <input
                  matInput
                  [min]="datePickerMinDate"
                  [max]="datePickerMaxDate"
                  [matDatepicker]="picker"
                  formControlName="datePicker"
                  placeholder="Choose a date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                  class="text-white"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #picker
                  (closed)="submitDatePickerForm(task.id, datePickerForm)"
                ></mat-datepicker>
              </mat-form-field>
            </form>
            <div class="h-2 w-full border-b-2 border-gray-500 mx-auto"></div>
            <button
              class="
                hover:bg-gray-700
                border-l-2 border-transparent
                hover:border-gray-500
                text-left
                flex
                items-center
              "
              (click)="deleteTask(task.id)"
              type="button"
            >
              <mat-icon class="text-gray-300 text-sm">delete_outline</mat-icon>
              <span>Delete</span>
            </button>
          </div>
        </mat-menu>
      </div>
    </li>
  </ul>
</div>

<div
  class="sticky bottom-8 w-full"
  [ngClass]="{ hidden: isSuggestions === true }"
>
  <form
    [formGroup]="mainTaskForm"
    class="flex justify-center bg-gray-800 pt-2 pb-4 opacity-90"
    (ngSubmit)="submitMainTaskForm(mainTaskForm)"
  >
    <div class="flex flex-col items-left w-5/6">
      <input
        type="text"
        formControlName="task"
        class="w-full rounded bg-black bg-opacity-80 text-gray-300"
        placeholder="+ Add a task"
      />
      <div class="w-ft h-4">
        <span
          class="text-red-900 bg-black bg-opacity-80 w-ft h-4 px-2"
          *ngIf="
            getTaskControl.task.errors?.required &&
            (getTaskControl.task.touched || getTaskControl.task.dirty)
          "
          >A value must be provided</span
        >
        <span
          class="text-red-900 bg-black bg-opacity-80 w-ft h-4 px-2"
          *ngIf="
            getTaskControl.task.errors?.minlength &&
            (getTaskControl.task.touched || getTaskControl.task.dirty)
          "
          >Task must have more than one character</span
        >
        <span
          class="text-red-900 bg-black bg-opacity-80 w-ft h-4 px-2"
          *ngIf="isError === true"
          >{{ catchError }}</span
        >
      </div>
    </div>
  </form>
</div>
