<mat-sidenav-container class="h-full">
  <mat-sidenav
    mode="side"
    position="start"
    class="w-1/7 bg-gray-800 border-r-2 border-black"
    opened
    ><div class="text-gray-400 p-2 mb-2">To Do</div>
    <app-avatar></app-avatar>
    <app-left-sidenav-options></app-left-sidenav-options>
    <div class="h-10 w-5/6 border-b-2 border-gray-500 mx-auto"></div>
  </mat-sidenav>
  <mat-sidenav-content class="bg-main-background-placeholder">
    <!-- Button to close the sidenav -->
    <button
      *ngIf="!isOpen"
      (click)="isOpen = !isOpen"
      aria-label="Open suggestions"
      class="px-2 py-2 bg-gray-800"
    >
      <mat-icon class="text-gray-400">lightbulb</mat-icon>
    </button>
  </mat-sidenav-content>
  <mat-sidenav
    mode="side"
    position="end"
    class="w-1/6 bg-gray-800"
    [(opened)]="isOpen"
    ><app-right-sidenav-title></app-right-sidenav-title>
    <div
      class="
        bg-gray-700
        border-t-2 border-gray-600
        absolute
        bottom-0
        w-full
        py-2
        px-2
      "
    >
      <button (click)="isOpen = !isOpen" aria-label="Close sidenav button">
        <mat-icon class="text-gray-400">arrow_forward_ios</mat-icon>
      </button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
