<div
  class="flex hover:bg-gray-700 pt-1 cursor-default"
  [matMenuTriggerFor]="profileMenu"
>
  <mat-spinner
    class="mx-auto"
    color="accent"
    diameter="25"
    aria-label="Loading indicator for user information"
    *ngIf="auth.isLoading$ | async; else userInformationTemplate"
  ></mat-spinner>
  <ng-template #userInformationTemplate>
    <div *ngIf="auth.user$ | async as user">
      <img
        src="{{ user.picture }}"
        alt="User profile picture"
        class="rounded-full h-8 w-8"
      />
    </div>
    <!-- Placeholder name and email -->
    <div class="flex flex-col ml-2 text-xs" *ngIf="auth.user$ | async as userInformation">
      <span class="text-gray-300">Firstname Lastname</span>
      <span class="text-gray-500"
        >{{ userInformation.email }}
        <mat-icon
          aria-hidden="false"
          aria-label="Unfold more icon"
          class="text-sm"
          >unfold_more</mat-icon
        ></span
      >
    </div>
  </ng-template>
</div>
<!-- Menu for the user profile -->
<mat-menu #profileMenu="matMenu" class="text-gray-300 bg-gray-800 ml-4">
  <div class="text-sm flex flex-col px-2">
    <button
      class="
        hover:bg-gray-700
        border-l-2 border-transparent
        hover:border-gray-500
        flex
        items-center
      "
      (click)="logout()"
    >
      <mat-icon class="text-sm pr-1">logout</mat-icon>
      Log out
    </button>
  </div>
</mat-menu>
