<div
  class="flex hover:bg-gray-700 pt-1 cursor-default"
  [matMenuTriggerFor]="profileMenu"
>
  <!-- Placeholder initials -->
  <div
    class="
      rounded-full
      h-8
      w-8
      bg-blue-400
      flex
      items-center
      justify-center
      ml-2
    "
  >
    AS
  </div>
  <!-- Placeholder name and email -->
  <div class="flex flex-col ml-2 text-xs">
    <span class="text-gray-300">Firstname Lastname</span>
    <span class="text-gray-500"
      >example@example.com
      <mat-icon
        aria-hidden="false"
        aria-label="Unfold more icon"
        class="text-sm"
        >unfold_more</mat-icon
      ></span
    >
  </div>
</div>
<!-- Menu for the user profile -->
<mat-menu #profileMenu="matMenu" class="text-gray-300 bg-gray-800 ml-4">
  <div class="text-sm flex flex-col px-2">
    <button
      class="
        hover:bg-gray-700
        border-l-2 border-transparent
        hover:border-gray-500
        flex
        items-center
      "
      (click)="logout()"
    >
      Log out
    </button>
  </div>
</mat-menu>
