<div
  class="flex flex-col cursor-default"
  *ngFor="let sidenavOption of sidenavOptionLinks"
>
  <div
    class="
      h-8
      hover:bg-gray-700
      pl-4
      flex
      items-center
      text-gray-300
      w-full
      border-l-2 border-transparent
      hover:border-gray-500
    "
    (click)="sidenavOption.action()"
  >
    <mat-icon
      aria-hidden="false"
      [attr.aria-label]="sidenavOption.ariaLabelText"
      class="text-sm pr-1"
      >{{ sidenavOption.icon }}</mat-icon
    ><span>{{ sidenavOption.text }}</span>
  </div>
</div>
