@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

html,
body {
  @apply h-full;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular Material overrides
.mat-menu {
  &-panel {
    min-height: auto !important;
  }

  &-content {
    width: auto !important;
  }
}

.mat-bottom-sheet-container {
  @apply bg-gray-800;
}

.mat-progress-bar {
  position: absolute !important;
  top: 0;
}

.mat-icon {
  width: auto !important;
}

.mat-calendar {
  @apply bg-gray-300;
}

.mat-form-field-infix {
  width: 7rem !important;
}

// Placeholder input color override
::placeholder {
  color: #d1d5db !important;
}
